image: docker:latest
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  CI_VERSION: '6.6.$CI_PIPELINE_IID'

stages:
  - build

build:
  image: openjdk:8-alpine
  stage: build
  except:
    variables:
      - $CI_COMMIT_REF_NAME =~ /dev*/
  before_script:
    - apk update && apk add git
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - chmod +x gradlew
  script:
    - ./gradlew buildAll
    - export version=$(grep -o -P '_version           = (\d+\S+)' gradle.properties | tr -s " " | cut -d " " -f 3)
    - export build=$(git rev-list --count HEAD)
  artifacts:
    name: "OpenBlocker-$version.$build"
    expire_in: never
    paths:
      - build/libs/
